body{
background-color: #F5F2F0;
}

#wrap{
  width: 100%;
  display: flex;
}

.fashion{
flex: 1;
width: 33%;
height:100%;
text-align: center;
border: 2px solid rgba(255, 255, 255, .3);
}

.watch{
  background-color: ;
  flex: 1;
  width: 33%;
  height:100%;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, .3);
}
.cellphone{
  background-color: ;
  flex: 1;
  width: 33%;
  height:100%;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, .3);
}
.info-holder button{
  background-color:#3E86CF;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.info-holder button:hover{
  background-color:#0B6FD5;
}
.info-holder input{
    background-color:#51A3F7;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 2px;
}

  .info-holder input:hover{
    background-color:#047EFA;
  }

.heading{
  
}
